.navbar {
  background-color: var(--marrom);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: var(--branco);
  font-family: 'Great Vibes', cursive; /* fonte cursiva de convite */
  font-size: 28px;
}

.links {
  display: flex;
  gap: 15px;
}

.link {
  color: var(--branco);
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: var(--amarelo-terra);
}

.hamburger {
  display: none;
  font-size: 24px;
  color: var(--branco);
  cursor: pointer;
}

/* Mobile */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .hamburger {
    display: block;
    margin-top: 8px;
  }

  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .links.show {
    display: flex;
  }

  .link {
    margin: 10px 0;
  }
}
